*{
  font-family: sans-serif;
  margin:0px;
  padding:0px;
}

#header{
  height: 100px;
  background-color: #3399ff;
  text-align: center;
  color: white;
}

#footer{
  height: 100px;
  background-color: #3399ff;
  text-align: right;
}

#footer > p{
  color: white;
  font-size: 10px;
  margin-right:20px;
}

#croupier{
  bottom: 0;
  position: absolute;
  right: 0;
}

#user-ops,#crupier{
  width:30%;
  height:460px;
  background-color: #00ff99;
  float:left;
  position:relative;
}
#user-ops{
  background: linear-gradient(to right, green, black) repeat scroll 0 0;
}

#crupier{
  background: linear-gradient(to right, black, green) repeat scroll 0 0;
}

#tablero{
  float:left;
  width: 40%;
  background-color: #2CBF19;
  height: 460px;
  position: relative;
}

.clear{
  clear:both;
}

#layer > input{
  width:100px;
  height:100px;
  float:left;
  font-size: 20px;
  color:black;
}

#msg_board{
  background-color: white;
  bottom: 134px;
  font-size: 12px;
  height: 150px;
  overflow: scroll;
  position: absolute;
  width: 100%;
}

#layer{
  padding:30px;
  background-image:url('../img/ruleta.gif');
  background-size: cover;
  height:400px;
}

.triple_slot{
  width:300px !important;
}

input.bet{
  width:30px;
  height:30px;
}

#btn_spin{
  width:200px;
  height:50px;
  margin-top: 100px;
}

.txt_saldo{
  color:white;
  font-size: 25px;
}
